* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1F2937;
    color: #f9faf8;
}

footer {
    display: flex;
    justify-content: center;
    height: 30px;
    text-align: center;
    border-top: #f9faf8 solid 1px;

}

footer p {
    font-size: 12px;
    padding-top: 6px;
    margin: 4px;
}

.ghLogo {
    width: 14px;
    height: 14px;
    padding-left: 7.5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    height: 50px;
    padding-top: 12px;
    padding-left: 162px;
    padding-right: 162px;
}

header img {
    height: 35px;
    width: 40px;
}

header a {
    text-decoration: none;
}

main a {
    text-decoration: none;
    font-style: italic;
}

img {
    width: auto;
    height: 390px;
}

.group,
.group2 {
    height: 30px;
    width: auto;
}

.container {
    display: flex;
    width: auto;
    height: 400px;
    text-align: center;
    justify-content: space-evenly;
    padding: 3% 10%;
}

.container .h1 {
    display: flex;
    gap: 52px;
    margin: 40px;
    text-align: center;
    padding-bottom: 80px;
}

p {
    gap: 52px;
    /*margin:50px 25px;*/
    text-align: center;
    font-size: 20px;
}

.IntroText {
    margin: 80px auto;
}

.startStanning {
    margin: 0px auto;
    background-color: deeppink;
    font-size: 20px;
    border-radius: 12px;
    padding: 8px 14px;
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-top: 25px;
}

.human {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}


h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
}

.pets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 10px;
}

figure {
    margin-bottom: 10px;
}

figcaption {
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    flex-direction: row;
    gap: 1px;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
}

.quote .sentencte {
    margin-bottom: 10px;
}

.quote .person {
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 40%;
    margin-top: 0px;
    margin-bottom: 50px;
}

/*
.members {
    margin-top: 2%;
}*/
/*
.iframe-container2 {
    margin-top: 20px;
    margin-bottom: 40px;
}*/

.ifindex {
    display: flex;
    align-items: center;
    width: 640px;
    height: 360px;
    margin-right: 18px;
    margin-left: 18px;
}

/*
.container1 {
    display: flex;
    width: auto;
    height: 400px;
    text-align: center;
    justify-content: space-evenly;
    padding: 3% 10% 0% 10%;
}*/

/*
    code for members.html
*/

.container-m {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 80px;
    margin-top: 80px;
}

iframe {
    height: 480px;
    width: 854px;
}

.member-e {
    display: flex;
    flex-direction: column;
    margin-right: 180px;
}

.imgpc {
    height: 300px;
    width: auto;
}

.pic {
    position: relative;
    text-align: center;
    color: #f9faf8;
    font-size: large;
}

.name {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /*text-shadow: #1F2937 0px 0px 2px,
        #1F2937 0px 0px 2px,
        #1F2937 0px 0px 2px,
        #1F2937 0px 0px 2px;*/

    color: #1F2937;
    padding-top: 5px;
    padding-bottom: 5px;
}

#JiU {
    padding-left: 134px;
    padding-right: 134px;
}

#SuA {
    padding-left: 129px;
    padding-right: 129px;
}

#Siyeon {
    padding-left: 118px;
    padding-right: 117px;
}

#Handong {
    padding-left: 106px;
    padding-right: 106px;
}

#Yoohyeon {
    padding-left: 103px;
    padding-right: 102px;
}

#Dami {
    padding-left: 123px;
    padding-right: 123px;
}

#Gahyeon {
    padding-left: 109px;
    padding-right: 108px;
}